# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
pip-wheel-metadata/
share/python-wheels/
wheels/

# virtual environments
venv/
ENV/
env/
.venv/
venv.bak/
env.bak/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# pyright
pyrightconfig.json

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Editor backups
*~
*.swp
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Jupyter
.ipynb_checkpoints

# profiling
.prof

# celery
celerybeat-schedule

# dotenv
.env
.env.*

# other
.coverage
.ropeproject/
__pypackages__/
/.python-version
